{% extends "core/base.html" %}

{% load static %}


{% block content %}
    <h1>Fca web scraper</h1>

    <form url="{% url 'post_ref' %}" id="post-reference">
        {% csrf_token %}
        <label>Reference Number</label>
        <input type="text" name="ref">
        <input type="submit" name="submit" value="submit" />
    </form>

    <form action="{% url 'export' %}"" method="post">
        {% csrf_token %}
        <input type="submit" name="submit" value="Export Data" />
    </form>

    <div id="content"></div>
{% endblock %}
